:root {
    /* Colors for sins */
    --hound-color: #ff0808;
    --centipede-color: #9f00ff;
    --idol-color: #e40df2;
    --ogre-color: #0d79f2;
    --toad-color: #f2af0d;
    --lord-color: #91ffef;
}